# R Básico

## Matemética, variaveis, string

**Operações em R**

In [1]:
#adição: 
4+2

[1] 6

In [2]:
#subtraçao:
4-2

[1] 2

In [3]:
#multiplicação: 
4*2

[1] 8

In [4]:
#divisão:
4/2

[1] 2

In [5]:
#exponenciação:
2^2

[1] 4

In [6]:
#  atribuição de variavel
x <- 139 + 121

In [7]:
x

[1] 260

In [8]:
y <- x / 60
y

[1] 4.333333

**Variaveis em R**
- para remover um varaivel da memória usa-se o comando **rm**(my_variable)

In [9]:
rm(y)

In [10]:
y

ERROR: Error in eval(expr, envir, enclos): objeto 'y' não encontrado

In [11]:
# outro modo de atribuir valor de uma variável é com o sinal de igual(=)
total = 139 + 121
total

[1] 260

In [12]:
total_hr <- total / 60
total_hr

[1] 4.333333

In [13]:
# string
movie <- "Toy Story"
movie

[1] "Toy Story"

## Vetores

In [14]:
c(1, 2, 3, 4, 5, 6, 7, 8, 10)

[1]  1  2  3  4  5  6  7  8 10

In [15]:
c(1:10)

 [1]  1  2  3  4  5  6  7  8  9 10

In [16]:
c(10:1) # 10 até 1

 [1] 10  9  8  7  6  5  4  3  2  1

In [17]:
# vetor numerico
c(1985, 1999, 2010, 2002)

[1] 1985 1999 2010 2002

In [18]:
# vetor de caracter
c("Toy Story", "Akira", "The Artist", "City of Good")

[1] "Toy Story"    "Akira"        "The Artist"   "City of Good"

In [19]:
# Logical Vector

1997 > 2000

[1] FALSE

In [20]:
movie_ratings <- c(7.3, 8.5, 8.3, 7.5, 6.9, 5.2, 8.2, 8.0, 7.9, 9.3)

In [21]:
movie_ratings > 7.5

 [1] FALSE  TRUE  TRUE FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE

In [22]:
#Factors
genre_vector <- c("comedy", "comedy", "Amination", "Animation", "Crime")

In [23]:
genre_factor <- factor(genre_vector)
genre_factor

[1] comedy    comedy    Amination Animation Crime
Levels: Amination Animation comedy Crime

In [24]:
summary(genre_vector)

   Length     Class      Mode
        5 character character

In [25]:
# odered Factor
movielength_vector <- c("Very short", "Short", "Medium", "Short",
                        "Long", "Very short", "Very Long")

movielength_vector

[1] "Very short" "Short"      "Medium"     "Short"      "Long"
[6] "Very short" "Very Long"

In [26]:
mvlength_factor <- factor(movielength_vector,
                         ordered = TRUE,
                          levels = c("Very short", "Short", "Medium",
                                    "Long", "Very Long")
                         )
mvlength_factor

[1] Very short Short      Medium     Short      Long       Very short Very Long
Levels: Very short < Short < Medium < Long < Very Long

## Operações de vetor

In [27]:
year <- c(1985, 1999, 2010, 2002)

In [28]:
names(year) <- c("The Breakfast Club", "American Beauty", "Black Swan", "Chicago")

In [29]:
year_sorted <- sort(year)

In [35]:
year_sorted

The Breakfast Club    American Beauty            Chicago         Black Swan
              1985               1999               2002               2010

In [36]:
#valor minina de um vetor
min(year)

[1] 1985

In [37]:
# valor maximo de um vetor
max(year)

[1] 2010

In [38]:
cost_2014 <- c(8.6, 8.5, 8.1)

In [39]:
#media de um vetor
mean(cost_2014)

[1] 8.4

In [40]:
# funçao resumo
summary(cost_2014)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
   8.10    8.30    8.50    8.40    8.55    8.60

In [41]:
cost_2014

[1] 8.6 8.5 8.1

In [42]:
# retorna um valor do vetor pelo indice indicado 
cost_2014[2]

[1] 8.5

In [46]:
# retorna o valores do vetor passando dois indice 
cost_2014[c(2,3)]

[1] 8.5 8.1

In [47]:
cost_2014[1:3]

[1] 8.6 8.5 8.1

In [49]:
titles <- c("Black Swan", "Casino", "City od God", "City of God", "Jumanji"," Toy Story")

In [51]:
length(titles)

[1] 6

In [52]:
titles[2:5]

[1] "Casino"      "City od God" "City of God" "Jumanji"

In [53]:
# remove o indice 1 
titles[-1]

[1] "Casino"      "City od God" "City of God" "Jumanji"     " Toy Story"

In [54]:
# quando indica um indice que não exite no vetor ele retorna NA
titles[8]

[1] NA

In [56]:
cost_2014 > 8.3

[1]  TRUE  TRUE FALSE

In [57]:
cost_2014[cost_2014 > 8.3]

[1] 8.6 8.5

In [59]:
# valores ausentes são representados por NA
age_restric <- c(14, 12, 10, NA, 18, NA)
age_restric

[1] 14 12 10 NA 18 NA

In [60]:
age_restriction <- c(14,16,12,10,18,18)
sequeces <- c(2,3,0,2,6,3)

In [61]:
age_restriction + sequeces

[1] 16 19 12 12 24 21

In [62]:
age_restriction - sequeces

[1] 12 13 12  8 12 15

In [63]:
age_restriction * sequeces

[1]  28  48   0  20 108  54

In [64]:
age_restriction / sequeces

[1] 7.000000 5.333333      Inf 5.000000 3.000000 6.000000